.CreateForm {
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.sMul {
  font-size: 15pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

.FormVisDiv {
  width: 30%;
  height: 100%;
}
