.canvasDiv {
  position: relative;
  width: 100%;
  height: 60vw;
  background-color: #000000;
  outline: dashed;
  outline-color: #ffffff;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.canvasDij {
  position: absolute;
  /* width: 100%;
      height: 100%; */
  top: 0;
  left: 0;
}
